html, body {
    /* background-color: #21232A; */
    background-color: #313B72;
    color: white;
    font-family: Helvetica, sans-serif;
    text-align: center;
    
} 
h1, h2{
    font-size: 2.5rem;
}
button{
    /* background: #047148; */
    background: #046c44c9;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    padding: 10px;
    font-size: 20px;
    margin-left: 10px;
    
    
}

button:hover{
    background: #62A87C ;
}

.container{
    position: relative;
    top: 200px;

}
